VITE_AUTH_ISSUER=https://cboi-auth-stage.isupay.in/application/o/merchant-web-application/
VITE_AUTH_DISCOVERY_URL=https://cboi-auth-stage.isupay.in/application/o/merchant-web-application/.well-known/openid-configuration
VITE_AUTH_CLIENT_ID=02WnEFxSElzxzrv3Qht29IacaiO6qKa3pclXleoo,
VITE_AUTH_TOKEN_URL=https://cboi-auth-stage.isupay.in/application/o/token/
# VITE_AUTH_REDIRECT_URL=https://portal-CBOI.isupay.in/redirected
VITE_AUTH_REDIRECT_URL=com.isu.merchant.cboi:/callback
VITE_AUTH_GRANT_TYPE=authorization_code
VITE_AUTHORIZATION_CODE=
VITE_AUTH_CODE_VERIFIER=
VITE_USE_STATIC_AUTH=false
VITE_USE_MOCK_AUTH=false
VITE_AUTH_SCOPES=adminName,user_name,goauthentik.io/api,authorities,bankCode,email,profile,openid,offline_access,created,privileges
VITE_API_BASE_URL=https://auth-dev-stage.iserveu.online
VITE_FETCH_USER_DETAILS_ENDPOINT=/CBOI/fetch/fetchById
VITE_CURRENT_LANGUAGE_ENDPOINT=/CBOI/isu_soundbox/user_api/current_language
VITE_FETCH_LANGUAGE_ENDPOINT=/CBOI/isu_soundbox/lang/fetch_language
VITE_UPDATE_LANGUAGE_ENDPOINT=/CBOI/isu_soundbox/lang/update_language
VITE_STATIC_QR_ENDPOINT=/CBOI/merchant/qr_convert_to_base64
VITE_USER_DETAILS_SERIAL_NUMBER=38241108350403
VITE_STATIC_AUTH_TOKEN=
VITE_STATIC_AUTH_SCHEME=Bearer
VITE_STATIC_PASS_KEY=
VITE_PASS_KEY_HEADER=pass_key
VITE_PAYLOAD_ENCRYPTION_KEY=
